<div class="navbar navbar-inverse navbar-fixed-top nav padd">
<div class="container">
    <div class="navbar-header fsize">
        <a href="/" class="color">Home</a>
        <a class="color">|</a>
        <a href="/images" class="color">All Images</a>
    </div>
</div>
</div>